@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
/* Starter CSS for Menu */
#brown {
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  height:50px;

}
#brown ul,
#brown li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#brown ul {
  position: relative;
  z-index: 597;
}
#brown ul li {
  float: left;
  min-height: 1px;
  vertical-align: middle;
}
#brown ul li.hover,
#brown ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#brown ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
#brown ul ul li {
  float: none;
}
#brown ul ul ul {
  top: 0;
  left: 190px;
  width: 190px;
}
#brown ul li:hover > ul {
  visibility: visible;
}
#brown ul ul {
  bottom: 0;
  left: 0;
}
#brown ul ul {
  margin-top: 0;
}
#brown ul ul li {
  font-weight: 10px;
}
#brown a {
  display: block;
  line-height: 1em;
  text-decoration: none;
}
/* Custom CSS Styles */
#brown {
  background: #333333;
  border-bottom: 4px solid brown;
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  font-size: 12px;
}
#brown > ul {
  *display: inline-block;
}
#brown:after,
#brown ul:after {
  content: '';
  display: block;
  clear: both;
}
#brown ul {
  text-transform: uppercase;
}
#brown ul ul {
  border-top: 4px solid brown;
  text-transform: none;
  min-width: 190px;
}
#brown ul ul a {
  background: url(highlight-bg.png) repeat;
  color: #ffffff;
  border: 1px;
  border-top: 0 none;
  line-height: 150%;
  padding: 16px 20px;
  font-size: 12px;
}
#brown ul ul ul {
  border-top: 0 none;
}
#brown ul ul li {
  position: relative;
}
#brown ul ul li:first-child > a {
  border-top: 1px solid black;
}
#brown ul ul li:hover > a {
  background: black;
  color: #ffffff;
}
#brown ul ul li:last-child > a {
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 0 1px 0 #1b9bff;
  -webkit-box-shadow: 0 1px 0 #1b9bff;
  box-shadow: 0 1px 0 #1b9bff;
}
#brown ul ul li:last-child:hover > a {
  -moz-border-radius: 0 0 0 3px;
  -webkit-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#brown ul ul li.has-sub > a:after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
}
#brown ul li:hover > a,
#brown ul li.active > a {
  background: brown;
  color: #ffffff;
}
#brown ul li.has-sub > a:after {
  content: '+';
  margin-left: 5px;
}
#brown ul li.last ul {
  left: auto;
  right: 0;
}
#brown ul li.last ul ul {
  left: auto;
  right: 99.5%;
}
#brown a {
  background: #333333;
  color: #CBCBCB;
  padding: 0 20px;
}
#brown > ul > li > a {
  line-height: 48px;
  font-size: 15px;
}
