.inCenter {
	text-align : center;
}

.itm {
    display: block;
    overflow: hidden;
    width: 270px;
    height: 270px;
    padding: 10px 10px;
}
.itm img {     
    min-width: 100%;
    min-height: 100%;
 
  transition: all 0.3s;
}
.itm:hover img {
   border-radius: 50%;
  transform: scale(1.1);
}

.buttonPic {
	border-style: solid;
	//margin : 15px;
	border: none;
	padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
}


.s-desc {
	padding : 15px 15px;
}
.button {
    
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #e7e7e7; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.banner {
	background-color: teal;
}

#shopping_cart {width: 100%; height: 50px; color:white;font-family: Lucida Console;}

/*body {
    background-repeat: no-repeat;
}*/

#products_box {
    width:780px;
    text-align:center;
    margin-left:30px;
    margin-bottom: 10px;
}
    #single_product {float:left; margin-left: 20px; padding: 10px;}

.content_wrapper {
    width: 1000px;
    height: :800px;
    margin: auto;
    background: pink;
}

    #content_area {
        width: 1000px;
        height: :800px;
        /*floar:right;*/
        background: pink;
    }

#form {float: left; padding-left: 8px; line-height: 30px;}